.imagesSlider {
  width: 450px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.252);
}

.imagesSlider.vertical{
  width: 180px;
}

.imagesContainer {
  display: flex;
  height: 100%;
}

.imagesSlider img {
  width: 450px;
  height: 100%;
}

.imagesSlider.vertical img {
  width: 180px;
  height: 300px;
}