
.blobContainer{
  width: 400px;
  height: 200px;
  position: relative;
  align-self: center;
}

.blob{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.blob:nth-child(2){
  filter:blur(30px)
}

.techsContainer{
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.techItem{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.techItem img{
  width: 40%;
  margin: auto;
  animation: float 10s infinite;

}

.techItem h3{
  font-size: 25px;
  text-align: center;
  margin: 0;
}

@keyframes float {

  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(-10px);
  }

  75%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(0px);
  }

  
}

@media only screen and (max-width: 430px){
  
.blobContainer{
  width: 90vw;
}
}