.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
}

.backgroundMosaic {
  background-color: #C1C1C1;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;

}

.column {
  flex: 1;
  display: flex;
  justify-content: center;
}


.purpleColumn {
  background-color: #ffffff;
  transform: translateY(-100%);

}

.blackColumn {
  background-color: black;
  transform: translateY(100%);
}

.columnResponsive{
  grid-column: 1/-1;
  z-index: 1;
  display: none;
  background-color: #c1c1c1;
}

.columnResponsive > div {
  width: 100%;
  height: 100%;
  background-color: black;
  transform: translateY(-100%);
}


.imageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.textContainer {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  z-index: 2;
  position: fixed;
  top: 20vh;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

.nameContainer>span {
  color: #C1C1C1;
  font-size: 30px;
  font-weight: 400;
  opacity: 0;
}

.nameContainer>h1 {
  color: white;
  font-size: 60px;
  margin: 0;
  opacity: 0;
}

.imageContainer img {
  width: 400px;
  opacity: 0;
  max-height: 80vh;
}

.writeTextContainer {
  margin: 0 25px;
  opacity: 0;
}

.writeText {
  font-size: 30px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px white;
}

.circlesContainer {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: flex;
  flex-direction: column;
  opacity: 0;
}

.circle {
  aspect-ratio: 1/1;
  background-color: white;
}

.circle1 {
  width: 40px;
  border-radius: 20px;

}

.circle2 {
  width: 80px;
  border-radius: 40px;
  margin-left: 40px;

}

.circlesContainerUp {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  flex-direction: column;
  transform: rotate(0.5turn);
  opacity: 0;
}

.circlesContainerUp .circle {
  background-color: black;
}

.arrowDownButton {
  position: absolute;
  padding: 15px;
  bottom: 30px;
  right: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: black;
  border-radius: 5px;
  transition: transform .3s ease;
  opacity: 0;
}

.arrowIcon {
  color: white;
  font-size: 20px;
}

.arrowDownButton:hover {
  transform: translateY(-5px) !important;
}

.blackBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  top: 100%;
  z-index: 2;
}

@media only screen and (max-width:800px) {

  .columnResponsive {
    display: block;
  }

  .backgroundMosaic::after {
    content: "";
    background-color: #C1C1C1;
    grid-column: 1/-1;
    grid-row: 2;
    z-index: 1;
  }

  .backgroundMosaic {
    gap: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 20px 1fr;
  }

  .imageContainer {
    justify-content: space-between;
  }

  .textContainer {
    grid-template-columns: 1fr;
    margin-top: 10vh;
    position: static;
  }

  .nameContainer span {
    text-shadow: 2px 2px rgb(0, 0, 0);
  }

  h1 {
    mix-blend-mode: difference;
    background-blend-mode: difference;
  }

  .writeText {
    color: #c1c1c1;
    text-shadow: 2px 2px rgb(0, 0, 0);
  }

  .nameContainer {
    text-align: center;
  }

  .circlesContainerUp, .circlesContainer {
    display: none;
  }

  .imageContainer img {
    max-height: 45vh;
  }
}

@media only screen and (max-height:500px){
  .circlesContainerUp, .circlesContainer {
    display: none;
  }
}